{% extends 'first_app/base.html' %}

{% block body %}

<div class="container">
    <div class="jumbotron">
        <h1 >Read Student</h1>   
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <form action="{% url 'second_app:readstudent' %}" method="GET">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="read">
        </form>   
    </div>
</div>
<div class="container">
<div class="jumbotron">
    {% if Flag %}
        <p>{{message}}</p>
        <p>Student name: {{student_name}}</p>
        <p>Student Id: {{student_id}}</p>
    {% else %}
        <p>{{message}}</p>
    {% endif %}
</div>
</div>

{% endblock %}